@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
    /* background-color: rgb(205, 226, 231); */

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 90vw;
  margin: auto;
  /* margin-top: 2rem; */
  /* border: solid 2px black; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    
}



.logo{
   
   margin-left: 1.5rem;
   padding: 1rem;
   height: 100px;
}

.navbar .links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  padding: 10px 0;
  font-weight: 700;
  padding: 1.5rem; 
  
}

.page-1{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
 
}

.home-page{
  display: flex;
  width: 90vw;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.home-image{
 /* justify-content: center; */
}


.home-image img{
  width: 400px;
  height: 300px;

}

.home-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  
}

.home-description h1{
  font-size: 2.2rem;
 
  text-align: center;
   
}

.home-description p{
  line-height: 1.75;
  text-align: center;
 
}

.explore-btn{
  background-color: rgb(239, 241, 241);
  font-weight: 700;
  padding: 0.75rem;
  display: inline;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
 
  border: transparent;
  font-weight: 900;
}

.partners{
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
   max-width: 90vw;
   
  margin: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
  
 
}

.partners-image{
  height: 200px;
  width: 200px;
  margin: auto;
}

@media screen and (max-width: 767px) {
.header{
  width: 100vw;
}

.logo{
  margin-left: 0;
}
.navbar{
  display: none;
}


.home-page{
  flex-direction: column;
  margin-top: 0;
}
.home-image img {
    width: 300px;
    height: 300px;
}

.home-description p{
  text-align: center;
 
}

 .partners-image{
  height: 110px;
  width: 200px;
  margin: auto;
  padding: 0;
}
}