@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
  /* border: solid 2px black; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(79, 188, 189);
}

.logo {
  margin-left: 1.5rem;
  padding: 1rem;
  height: 100px;
}

.navbar .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.navbar .links a {
  color: rgb(6, 63, 64);
  text-decoration: none;
  padding: 2rem;
  font-weight: 700;
  padding: 1.5rem;
}

.page-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.home-page {
  display: flex;
  width: 90vw;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}



.home-image img {
  width: 400px;
  height: 300px;
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.home-description h1 {
  font-size: 2.5rem;
  text-align: center;
}

.home-description p {
  line-height: 1.75;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1.15rem;
}

.explore-btn {
  background-color: rgb(79, 188, 189);
  font-weight: 700;
  padding: 0.75rem;
  display: inline;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  border: transparent;
  font-weight: 900;
  color: white;
}

.partners {
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
  max-width: 90vw;
  margin: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.partners-image {
  height: 200px;
  width: 200px;
  margin: auto;
}

.products, .services, .founders{
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-heading {
  background-color: rgb(237, 247, 243);
  margin: auto;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  display: inline;
}

.product-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-items {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow:1 white;
  justify-content: center;
  align-items: center;
  gap: 1rem;
    border: 2px solid whitesmoke;

}
 
 .product-items:hover{
  background-color: rgb(243, 247, 247);
 }
.product-items img {
  height: 150px;
  width: 150px;
}

.product-description {
  text-align: center;
}

.product-name {
  text-align: center;
color: black;
  padding: 0.5rem;
  display: inline;
  
}

.page-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.service-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 30%;
  text-align: center;
    border: 2px solid whitesmoke;

}
.service-item img{
  height: 150px;
  width: 150px;
}

.service-item:hover{
  background-color: rgb(227, 232, 213);
  box-shadow: 2px white;
}

.service-item p{
  text-align: center;
}

.product-items p{
  text-align: center;
}

.page-4{
  margin-top: 2rem;
  margin-bottom: 5rem;

}
.founders{
  width: 90vw;
  margin-top: 2rem;
}

.founder-container{
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.founder-item img{
  height: 150px;
  width: 150px;
}

.founder-item {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid whitesmoke;

 border-radius: 5%;
}

.founder-item p{
  text-align: center;
}

.founder-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.founder-link{
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}


@media screen and (min-width: 768px) and (max-width:1023px) {
  .home-page {
    flex-direction: column;
  }
}

/* @media screen and (min-width: 426px) and (max-width:630px) {
  .product-items {
    width: 75%;
  }

  .product-items img {
    height: 150px;
  }
} */

@media screen and (max-width: 426px) {
  .product-items {
    width: 100%;
  }

  
}

@media screen and (max-width: 767px) {
  .header {
    width: 100vw;
  }

  .logo {
    margin-left: 0;
  }

  .navbar {
    display: none;
  }


  .home-page {
    flex-direction: column;
    margin-top: 0;
    gap: 0;
  }

  .home-image img {
    width: 300px;
    height: 300px;
  }

  .home-description p {
    text-align: center;
    width: 90vw;

  }

  .partners-image {
    height: 110px;
    width: 200px;
    margin: auto;
    padding: 0;
  }

  .product-items,.service-item, .founder-item{
    width: unset;
    padding: 1rem;
    
  }

  .product-container, .service-container{
    gap: 1rem;
  }
}

